.legendContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 2rem 1rem;
  justify-content: space-between;
  height: 100%;
}

.legendItem {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  border-left: 4px solid;
  min-height: 63px;
  justify-content: center;
  border-left-color: rgb(197, 197, 197);
}

.legendItemTopDiv {
  min-height: 393px;
}

.legendName {
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-text);
}

.legendDescription {
  font-size: 0.875rem;
  color: var(--color-text-accent);
  font-style: italic;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .legendContainer {
    padding: 2em 0;
  }

  .legendItem {
    border-left: none;
    border-right: 4px solid;
    padding-left: 0;
    padding-right: 0.5rem;
    border-left-color: transparent;
    border-right-color: rgb(197, 197, 197);
  }

  .legendName {
    font-size: 0.8rem;
  }

  .legendDescription {
    font-size: 0.775rem;
  }
}

@media (max-width: 768px) {
  .legendContainer {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
  }

  .legendItem {
    flex: 1 1 45%;
    min-height: 40px;
  }

  .legendName {
    font-size: 0.875rem;
  }

  .legendDescription {
    font-size: 0.75rem;
  }
}
