.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appHeader {
  padding: 1rem 2rem;
  text-align: left;
  color: var(--color-text-accent);
}

.appHeader h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.appMain {
  flex: 1;
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}
